body {
	background-color: #232323;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

h1	{
	color: white;
	text-align: center;
	line-height: 1.1;
	background-color: #3e9ec1;
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 400;
	color: #3e9ec1;
	letter-spacing: .5px;
	outline: none;
}

button:hover {
	color: white;
	background-color: #3e9ec1;
	transition: all .3s;
	/*These next two lines are to be all web-browser friendly*/
	-webkit-transition: all .65s;
	-moz-transition: all .65s;
}

.selected {
	background-color: #3e9ec1;
	color: white;
}

.square	{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.65%;
	border-radius: 15%;
	transition: background .65s;
	/*These next two lines are to be all web-browser friendly*/
	-webkit-transition: background .65s;
	-moz-transition: background .65s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 25%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}
